/* SOUND */ 

  .btn {
    font-family: "TheGoodMonolith", monospace;
    display: inline-block;
    border: none;
    position: absolute;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--text); 
    z-index: 1;
    opacity: 0.8; 
    margin-left: 30%;     
    margin-top: 20%;
    background: transparent;
   } 
  
  .btn:active {
    scale: 0.95;
  }
  
  .btn:focus {
    color: var(--text);
  }