<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobelleon Mahardhika Licensing & Certification</title>
    <link rel="stylesheet" href="{% static 'css/style_licen_and_certf.css' %}">
</head>   

<div class="container"><img class="background" src="{% static 'img/sky.jpg' %}" alt="background">
  <p class="message">all your dreams can come true<br>if you have the courage to pursue them</p>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
 </div>      


<div class="tab" id="intro">
      <div class="container">
          <div class="avatar">
              <img src="images/avatar.png" alt="avatar">
          </div>
          <div class="content">
            <div class="scrollbar" id="scrollbar1">
              <div class="job">
                  <span class="text-gradient-certi">
                    Licensing and certification
                  </span>
              </div>
              <div class="des">
                  Generative AI: Introduction and Applications (IBM) 
                
                  URL Credentials :
                  <a class="text-gradient" href="https://www.coursera.org/account/accomplishments/verify/ASJA1IKA3MM6">Generative AI: Introduction and Applications (IBM) </a>                  
              </div>
              <div class="des">
                Flutter and Dart Developing iOS, Android, and Mobile Apps (IBM), 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.coursera.org/account/accomplishments/verify/OSPWKP9TQDB8">Flutter and Dart Developing iOS, Android, and Mobile Apps </a>  
               </div>
                <div class="des">
               Getting Started with Flutter & Dart (Packt), 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.coursera.org/account/accomplishments/verify/PJ9NY16G7L1R">Getting Started with Flutter & Dart (Packt) </a>                               
               </div>
               <div class="des">
                Mobile App Notifications, Databases, & Publishing, 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.coursera.org/account/accomplishments/verify/KE132O2L1JPF">Mobile App Notifications, Databases, & Publishing </a>                               
               </div>
              <div class="des">
                Introduction to HTML, CSS, & JavaScript (IBM), 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.coursera.org/account/accomplishments/verify/T0K24IU9SR1M">Introduction to HTML, CSS, & JavaScript (IBM) </a>                               
              </div>
               <div class="des">
                Introduction to Web Development (University of California, Davis), 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.coursera.org/account/accomplishments/verify/58V2B4330FO0">Introduction to Web Development (University of California, Davis) </a>                               
               </div>
               <div class="des">
                Django Web Framework (Meta), 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.coursera.org/account/accomplishments/verify/1ZCBYF0ECK96">Django Web Framework (Meta) </a>                               
               </div>
               <div class="des">
                Introduction to Software Engineering, 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.coursera.org/account/accomplishments/verify/ATBWCT78ME97">Introduction to Software Engineering </a>                               
               </div>
               <div class="des">
                Introduction to Mobile App Development, 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.coursera.org/account/accomplishments/verify/OJ7XO0P5OI81">Introduction to Mobile App Development </a>                               
               </div>
                <div class="des">
                Working with Version Control (University of Leeds), 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.coursera.org/account/accomplishments/verify/RKHNRW648AWW">Working with Version Control (University of Leeds) </a>                               
               </div>
               <div class="des">
                The Complete 2021 Flutter Development Bootcamp with Dart, 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.udemy.com/certificate/UC-6837d8bc-f130-464f-8ccc-1b627c6bbfb9/">The Complete 2021 Flutter Development Bootcamp with Dart  </a>  
               </div>
               <div class="des">
                Flutter UI Bootcamp Build Beautiful Apps using Flutter, 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.udemy.com/certificate/UC-ec926a31-f7fe-4d29-8ac0-660a61942e51/">Flutter UI Bootcamp Build Beautiful Apps using Flutter </a>  
               </div>
               <div class="des">
                Flutter Bloc Essential Course, 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.udemy.com/certificate/UC-e6093e7e-5f62-40ed-bfba-bb753a864c90/">Flutter Bloc Essential Course</a>  
               </div>
               <div class="des">
                Getting Started with Git and GitHub (IBM), 
              
                URL Credentials :
                <a class="text-gradient" href="https://www.coursera.org/account/accomplishments/verify/JXN4L4CKCKDA">Getting Started with Git and GitHub (IBM)</a>  
                <br><br>
                <a class="text-gradient" href="/resume/">Back to Resume |</a>
                <a class="text-gradient" href="/welcome/">Back to Home</a>
               </div>
              <i class="fa-solid fa-quote-right"></i>
          </div>
      </div>
  </div>
    </div>

     <div class="cursor-dot-outline"></div>
     <div class="cursor-dot"></div>

     <script src="{% static 'app.js' %}"></script>

 </html>
