<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobelleon Mahardhika Projects</title>
    <link rel="stylesheet" href="{% static 'css/style_project.css' %}">
</head>   

<div class="container"><img class="background" src="{% static 'img/sky.jpg' %}" alt="background">
  <p class="message">all your dreams can come true<br>if you have the courage to pursue them</p>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
 </div>      


<div class="project">

    <div class="list">
      
        <div class="item">
            <img src="{% static 'img/img2.png' %}" alt="">
            <div class="content">
                <h1>Vespa App</h1><br>
                <div class="des">
                  • State Management using :  BloC Architecture, GetX Architecture 
                  • Geolocator,  Google  map,  Avatar  Glow,  Animation,  Adding  Call Demo (UI),
                  • Tools IDE : Visual Studio Code
                </div>
            </div>
            <br><br><br><br>
            <a class="text-gradient-project" href="/resume/">&nbsp;  | Back to Resume |</a>
            
        </div>

        <div class="item">
            <img src="{% static 'img/img1.png' %} " alt="">
            <div class="content">
                <h1>Weather App</h1><br>
                <div class="des">
                  •  Authentication used Firebase Auth Integration 
                  (Login/Register with email & Password)
                  •  Logout Functionality
                  •  Architechture  used  MVVM  (Model-View-ViewModel)
                  •  State  Management  used  GetX
                  •  Rest Api's used https://www.visualcrossing.com/
                  weather-api to get data weather.
                  •  AI integration with gemini GPT
                </div>
            </div>
        </div>

        <div class="item">
            <img src="{% static 'img/img5.png' %}" alt="">
            <div class="content">
                <h1>Smarco App</h1><br>
                <div class="des">
                  • Develop eCommerce Smarco Apps 
                  • Code  versioning tools  using github
                  • Collected product data using Smarco API & Firebase Firestore
                  • Authentication used Firebase Auth Integration (Login/Register with email & Password)
                  • Jira (Project Management)
                  • added new features.
                  • and bug fixing
                </div>
            </div>
        </div>

        <div class="item">
            <img src="{% static 'img/img4.png' %}" alt="">
            <div class="content">
                <h1>Noxy Gold Store App</h1><br>
                <div class="des">
                  • Recommendation  Noxy  Gold  Store
                  • Provides a wide range of precious metal sizes and gold
                  • Adding Call Owner Demo (UI)
                  • Adding ChatGPT
                  • Adding Video Call Owner Demo (UI)
                  • Location  (Google  map)
                  • Movies review (entertainment)
                  • Tools IDE: Visual Studio Code
                </div>
            </div>
            <br><br><br><br>
            <a class="text-gradient-project" href="/welcome/">&nbsp;   | Back to Home |</a>
        </div>

        <div class="item">
            <img src="{% static 'img/img6.png' %}" alt="">
            <div class="content">
                <h1>Telkomsel DFE</h1>
                <div class="des">
                  • Build  UIkit  mobile  Telkomsel  DFE (Digital  Food Ecosystem)
                  • Figma as a  design tool (UI/UX)
                  • Trello (Project Management)
                  • Code  versioning tools  using git
                </div>                
            </div> 
                    
        </div>
        
      </div>     
     </div>     
  
     <div class="cursor-dot-outline"></div>
     <div class="cursor-dot"></div>

     <script src="{% static 'app.js' %}"></script>

 </html>
