<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobelleon Mahardhika Skill</title>
    <link rel="stylesheet" href="{% static 'css/skill.css' %}">
</head>   

<div class="container"><img class="background" src="{% static 'img/sky.jpg' %}" alt="background">
  <p class="message">all your dreams can come true<br>if you have the courage to pursue them</p>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
  <div class="circle-container">
    <div class="circle"></div>
  </div>
 </div>      



 <div class="tab" id="skill" >
        <div class="container">           
            <div class="list">
              <div class="scroll-watcher"></div>
                <div class="item">
                    <i class="fa-brands fa-flutter-alt"></i>
                    <div class="name">Flutter</div>
                    <div class="des">
                        <!-- 7 -->
                        Flutter simplifies the process of creating consistent and engaging UIs for apps.Flutter also has features such as UI widget features, Hot Reload, backend data, accessibility, platform integration, packages and plugins, making it easier for developers to create applications.
                    </div>
                </div>

                <div class="item">
                    <i class="fa-brands fa-dart"></i>
                    <div class="name">Dart</div>
                    <div class="des">
                        <!-- 7 -->
                        Dart is commonly combined with Google's framework, Flutter, for mobile app development. However, this programming language can also be used with other frameworks for various purposes.
                    </div>
                </div>

                <div class="item">
                    <i class="fa-brands fa-firebase"></i>
                    <div class="name">Firebase</div>
                    <div class="des">
                        <!-- 7 -->
                        A service from Google to provide convenience and even make it easier for application developers to develop their applications. Firebase's first product was Realtime Database. Realtime Database is used by developers to store data and synchronize it to many users. Then it developed as an application developer service.
                    </div>
                </div>

                <div class="item">
                    <i class="fa-brands fa-restapi"></i>
                    <div class="name">REST API</div>
                    <div class="des">
                        <!-- 7 -->
                        application programming interface (API) that follows the principles of REST (Representational State Transfer) architecture to communicate between different applications or systems.
                    </div>
                </div>

                <div class="item">
                    <i class="fa-brands fa-chatGPT"></i>
                    <div class="name">ChatGPT</div>
                    <div class="des">
                        <!-- 7 -->
                        A chatbot developed by OpenAI that uses artificial intelligence (AI) to have conversations with humans.
                    </div>
                </div>

                <div class="item">
                    <i class="fa-brands fa-provider"></i>
                    <div class="name">Provider</div>
                    <div class="des">
                        <!-- 7 -->
                        A state management library or package used to manage and share data or state between widgets in an application.
                        
                    </div>
                </div>
                         
                <div class="item">
                    <i class="fa-brands fa-googlemap"></i>
                    <div class="name">Google Map</div>
                    <div class="des">
                        <!-- 7 -->
                        Plugin for Flutter SDK that lets you integrate Google Maps services into your Android and iOS mobile apps.
                    </div>
                </div>

                <div class="item">
                    <i class="fa-brands fa-getx"></i>
                    <div class="name">GetX</div>
                    <div class="des">
                        <!-- 7 -->
                        A mini framework built on top of Flutter that focuses on state management, navigation, and dependency injection.
                    </div>
                </div>

                <div class="item">
                    <i class="fa-brands fa-riverpod"></i>
                    <div class="name">Riverpod</div>
                    <div class="des">
                        <!-- 7 -->
                        A modern and powerful state management library for Flutter. It works to manage Flutter application state in a simple, scalable, and declarative way.
                    </div>
                </div>

                <div class="item">
                  <i class="fa-brands fa-mvvm"></i>
                  <div class="name">MVVM</div>
                  <div class="des">
                      <!-- 7 -->
                      One of the GUI-based application creation architectures that focuses on the separation between code for business logic and application display. In its implementation, MVVM is divided into several layers, namely Model, View, and ViewModel.
                  </div>
                  <br><br>
                    <a class="text-gradient-skill" href="/resume/">Back to Resume</a>
              </div>

                <div class="item">
                    <i class="fa-brands fa-rxdart"></i>
                    <div class="name">RxDart</div>
                    <div class="des">
                        <!-- 7 -->
                        One of the popular libraries used in reactive programming in Flutter. This library allows you to use Rx in your Flutter code easily. RxDart provides StreamBuilder which makes it easy to build reactive Flutter apps. StreamBuilder can update widgets when changes occur in the data stream.
                    </div>                   
                </div>
             
                <div class="item">
                    <i class="fa-brands fa-bloc"></i>
                    <div class="name">BloC</div>
                    <div class="des">
                        <!-- 7 -->
                        An architectural pattern that separates business logic and state management from the UI, making applications easier to maintain, test, and evolve. BLoC allows the UI to receive state changes from the BLoC without knowing how the changes occurred, and allows the UI to send events (actions) to the BLoC.                       
                    </div> 
                    <br><br>
                    <a class="text-gradient-skill" href="/welcome/">Back to Home</a>                                  
                </div>
              </div>
            </div>   
                          
        </div>  
                
     <div class="cursor-dot-outline"></div>
     <div class="cursor-dot"></div>

     <script src="{% static 'app.js' %}"></script>
    

 </html>
