 {% load static %}

    <footer class="site-footer">
        <div class="footer-content-section">
          <div class="footer-content">
            <div class="footer-left">
              <p>THE SUNSET AND SOULMATES - </p>
              <p>OFTEN PAIRED</p>
              <p>WITH THE IDEA OF BEING</p>
              <p>WITH A LOVED ONE THAT</p>
              <p>CREATES A SPACE</p>
              <p>FOR HEALING</p>
            </div>
            <div class="footer-right">
              <p>CREATIVITY FLOWS THROUGH</p>
              <p>INFINITE PATHWAYS</p>
              <p>CONSCIOUSNESS EXPANDS</p>
              <p>INTO BOUNDLESS REALMS</p>
              <p>OF LIGHT AND POSSIBILITY</p>
              <p>WHERE HEALING BECOMES ART</p>
            </div>

          </div>
          <div class="footer-credits">
            <p>Sound Music by <a href="#" target="_blank">@CHRONO</a></p>
          </div>
        </div>
        <div class="footer-jpg-section">
          <img class="footer-jpg" src="https://cdnb.artstation.com/p/assets/images/images/007/198/563/large/alena-aenami-eclipse-1k.jpg?1504395238" alt="">
        </div>   
              
    </footer>

    <body>

      <div class="z_cursor-dot-outline"></div>
      <div class="z_cursor-dot"></div>

      <script src="{% static 'sunset.js' %}"></script>
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>   
      <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@latest/bundled/lenis.js"></script> 

    </body>