{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobelleon Mahardhika Experience</title>
    <link rel="stylesheet" href="{% static 'css/experience.css' %}">
</head>

<header>
  
<section>  

 <div class="tab" id="experience">
    <div class="container">
        <div class="list">
            <div class="item">
                <div class="time">2004-2009</div>
                
                <i class="fa-solid fa-school-flag">
                  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
                  <div class="item-hints">
                    <div class="hint" data-position="5">
                      <!-- is-hint -->
                      <span class="hint-radius"></span>
                      <span class="hint-dot"></span>
                    <div class="hint-content do--split-children">
                      <p>&nbsp; &nbsp;University of Pembangunan Nasional (Veteran), Jakarta.</p>
                    </div>
                   </div>
                  </div>

                </i>
                <div class="content"> 
                    <div class="job">Graduated from</div>
                    <div class="company">University of Pembangunan Nasional (Veteran), Jakarta.</div>
                    <div class="des">
                        <!-- 15 -->
                        Faculty of computer science major informatics engineering.                       
                      </div>                     
                </div>
                
            </div>

            <div class="item">
                <div class="time">2009-2020</div>
                <i class="fa-solid fa-briefcase">
                    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
                  <div class="britem-hints">
                    <div class="hint" data-position="5">
                      <!-- is-hint -->
                      <span class="hint-radius"></span>
                      <span class="hint-dot"></span>
                    <div class="hint-content do--split-children">
                      <p>PT.Bank Rakyat Indonesia, (Persero).Tbk</p>
                    </div>
                   </div>
                  </div>

                </i>
                <div class="content">
                    <div class="job">Frontliner</div>
                    <div class="company">PT.Bank Rakyat Indonesia, (Persero).Tbk</div>
                    <div class="des">
                        <!-- 15 -->
                        • PBB,  Tax, Payment  Credit  Card,  Passport,
                        • Overbooking  (Pindah Buku) Bilyet Giro/Cek,  Pinjaman, Tabungan, GL(general ledger).
                        • Transaction Inward RTGS, Outward RTGS, Kliring keluar, Inward Swift, LC( Letter Credit), Pencairan Deposito, Penempatan Deposito, Inward
                          TT, Virtual Account.
                        
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="time">2021-2022</div>
                <i class="fa-solid fa-briefcase">
                     <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
                  <div class="gzitem-hints">
                    <div class="hint" data-position="5">
                      <!-- is-hint -->
                      <span class="hint-radius"></span>
                      <span class="hint-dot"></span>
                    <div class="hint-content do--split-children">
                      <p>Salt Indonesia with Client Telkomsel</p>
                    </div>
                   </div>
                  </div>
                </i>
                <div class="content">
                    <div class="job">Flutter Developer (Remote – Temporary)</div>
                    <div class="company">Salt Indonesia with Client Telkomsel</div>
                    <div class="des">
                        <!-- 15 -->
                        • Build  UIkit  mobile  Telkomsel  DFE (Digital  Food Ecosystem)
                        • Figma as a  design tool (UI/UX)
                        • Trello (Project Management)
                        • Code  versioning tools  using git
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="time">2022</div>
                <i class="fa-solid fa-briefcase">
                    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
                  <div class="sditem-hints">
                    <div class="hint" data-position="5">
                      <!-- is-hint -->
                      <span class="hint-radius"></span>
                      <span class="hint-dot"></span>
                    <div class="hint-content do--split-children">
                      <p>Sprout Digital</p>
                    </div>
                   </div>
                  </div>
                </i>
                <div class="content">
                    <div class="job">Mobile Developer (Flutter)</div>
                    <div class="company">Sprout Digital</div>
                    <div class="des">
                        <!-- 15 -->
                        • Develop eCommerce Smarco Apps used for selling products
                        • Code  versioning tools  using github
                        • Collected product data using Smarco API & Firebase Firestore
                        • Authentication used Firebase Auth Integration (Login/Register with email & Password)
                        • Jira (Project Management)
                        • added new features.
                        • and bug fixing
                    </div>
                 
                </div>                
            </div>   


            <div class="demo-2 tooltip" data-tooltip="Back Home">
             <br><br><br><br><br><br><br>
              <a class="text-gradient-experience" href="/welcome/">Back Home</a>
              <br><br>
              <a class="text-gradient-experience" href="/location/">Location on Map</a>
              <br><br><br>
              <p align="left"> <img src="https://komarev.com/ghpvc/?username=Nobelleon&abbreviated=true&label=Profile%20views&color=0e75b6&style=flat" alt="nobelleon" /> </p>
            </div>          
            
        </div>         
    </div>   
</div>

</section>

</header>

