{% load static %}


 <header>
      <!-- title & content -->
      <section class="header-content"> 
         <h1 class="splt">My Youtube Channel</h1><br><br>
        <p> There are some personal mobile app projects that I have developed on my youtube and other art on art webster.<br>
           <!-- Visit : <a href="https://www.youtube.com/@NoobsterDev">My Youtube</a> -->
        </p>

        
        <br>
        <br>
        <br>
      
        <a href="https://www.youtube.com/@NoobsterDev" onclick="return true;">
          <button>My Youtube</button>
        </a>
        <button onclick="window.location.href='/time/'">Time</button>
        <button onclick="window.location.href='/art_webster/'">Art Webster</button>
        <button onclick="window.location.href='/welcome/'">Home</button>
        
      </section>

    </header>