 {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nobelleon Mahardhika About</title>
    <link rel="stylesheet" href="{% static 'css/sunset.css' %}">
</head> 

<header class="site-header">
        <div class="header-container">
          <div class="logo-container">
            <div class="logo-circles">
              <div class="circle circle-1"></div>
              <div class="circle circle-2"></div>
            </div>
          </div>
      
          <nav class="main-nav">
            <ul>
              <li>
                <a href="/welcome/">HOME</a>
                <div class="nav-hover-square"></div>
              </li>
              <li>
                <a href="/my_youtube/">MY YOUTUBE</a>
                <div class="nav-hover-square"></div>
              </li>
              <li>
                <a href="/contact/">CONTACT</a>
                <div class="nav-hover-square"></div>
              </li>
              <li>
                <a href="#" class="active">REFRESH</a>
                <div class="nav-hover-square"></div>
              </li>
            </ul>
          </nav>
      
          <div class="contact-link">
            <a href="/art_webster/">+ARTWEBSTER</a>
          </div>
          
        </div>

      </header>

      
      