{% load static %}

 <header>
     {% include 'temp_portfolio/partials/navbar_index.html' %}

     <!-- map -->

      <div class="demo-1 tooltip" data-tooltip="Go to Experience">                                                   
        <a class="text-gradient-location" href="/experience/">&nbsp Go to Experience</a>
        <br><br>
        <div class="map-iframe mt-5 pt-md-4">
          <!-- <a class="text-gradient-location" href="experience.html">&nbsp Go to Experience</a><br><br> -->
          <a class="text-gradient-location">&nbsp Click view larger map to search for location :</a>
          <br><br>
          <iframe
            src="https://www.google.com/maps/embed?pb=place/Sprout+Digital/@-6.3174577,106.6465121,17z/data=!3m1!4b1!4m6!3m5!1s0x2e69fb1cfa7f1e7f:0x99298509684d292c!8m2!3d-6.317463!4d106.649087!16s%2Fg%2F11h2gdpx30?entry=ttu&g_ep=EgoyMDI1MDUyOC4wIKXMDSoASAFQAw%3D%3D"
            width="100%" height="400" frameborder="0" style="border: 0px;" allowfullscreen=""></iframe>
        </div>
      </div>
      
 </header>